@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/assets/img/hi-logo.svg" class="home-logo"/>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-auto">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>
            Login:
          </th>
          <th>
            Password:
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Admin@gmail.com
          </td>
          <td>
            Admin!123
          </td>
        </tr>
        <tr>
          <td>
            Receptionist@gmail.com
          </td>
          <td>
            Receptionist!123
          </td>
        </tr>
        <tr>
          <td>
            Headchef@gmail.com
          </td>
          <td>
            HeadChef!123
          </td>
        </tr>
        <tr>
          <td>
            Cleaner@gmail.com
          </td>
          <td>
            Cleaner!123
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
