@model HotelIsaac.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customersid" class="control-label"></label>
                <select asp-for="Customersid" class ="form-control" asp-items="ViewBag.Customersid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Totalcost" class="control-label"></label>
                <input asp-for="Totalcost" class="form-control" />
                <span asp-validation-for="Totalcost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transactiontoken" class="control-label"></label>
                <input asp-for="Transactiontoken" class="form-control" />
                <span asp-validation-for="Transactiontoken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookingsid" class="control-label"></label>
                <input asp-for="Bookingsid" class="form-control" />
                <span asp-validation-for="Bookingsid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountSek" class="control-label"></label>
                <input asp-for="DiscountSek" class="form-control" />
                <span asp-validation-for="DiscountSek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
